@page
@model BlogPlatformWebApp.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@

@*<p>
    <a asp-page="Create">Write</a>
</p>*@

<style>
    .logout {
        color: white;
        text-decoration: none;
    }

    .logout:hover {
        color: white;
    }
</style>

@if (Model.IsLoggedIn)
{
    <p>Welcome, <span class="text-primary">@Model.Username</span></p>
    <a class="btn btn-outline-secondary" asp-page="Index" asp-page-handler="Logout">Logout</a>
    <br /><br />
}

@foreach (var item in Model.Post)
{
    <div class="card">
        <div class="card-body">

            <!-- Username -->
            <p>@Html.DisplayFor(modelItem => item.Username)</p>

            <!-- Date Created -->
            <p>Created: @Html.DisplayFor(modelItem => item.DateCreated)</p>

            <!-- Date Edited -->
            @if (!item.DateCreated.ToString().Equals(item.DateEdited.ToString()))
            {
                <p>Edited: @Html.DisplayFor(modelItem => item.DateEdited)</p>
            }
            <br />

            <!-- Title -->
            <h3>
                <a asp-page="./Details" asp-route-id="@item.Id" style="text-decoration: none;">
                @Html.DisplayFor(modelItem => item.Title)
                </a>
            </h3>

            <!-- Read Time -->
            <p>@Html.DisplayFor(modelItem => item.ReadTimeInMinutes) min read</p>

            <!-- Content -->
            <!-- Use pre-line to include new lines in text -->
            <p style="white-space: pre-line;">
                @Html.DisplayFor(modelItem => item.Content) @if (item.Content!.Length >= 940)
                {
                    <a asp-page="./Details" asp-route-id="@item.Id">Read more</a>
                }
            </p>

            <!-- Topic -->
            <span class="badge bg-secondary">
                @Html.DisplayFor(modelItem => item.Topic)
            </span>
        </div>
    </div>
    <br />
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Minutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minutes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
